<form method="post" action="/">
	<label>New Todo<br />
		<input type="text" name="name"><br />
	</label>
	<input type="submit" value="Create Todo">
</form>

<h1>Here's all the things to do:</h1>
<% @todos.each do |todo| %>
<li class="todo-item"><%= todo.name %>
<% end %>