<form method="post" action="/">
	<label>New Todo<br />
		<input type="text" name="name"><br />
	</label>
	<input type="submit" value="Create Todo">
</form>

<h1>Here's all the things to do:</h1>
<ul>
<% @todos.each do |todo| %>
	<% if not todo.completed %>
	<li class="todo-item">
	  <%= todo.name %>
	<form action="/complete/<%= todo.id %>/" method="post">
		<input type="submit" value="Complete <%= todo.name %>" />
	</form>
	<% end %>
<% end %>
</ul>